@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Raleway:wght@300;400&display=swap");
::after,
::before {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  height: 100vh;
  margin: 0;
}

.page-footer {
  text-align: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: black;
  color: white;
}

.welcome {
  display: inline;
}
